<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
    <Properties>
        <Property name="log_path">./target/logs/</Property>
        <Property name="log_size">1 MB</Property>
        <Property name="log_number">5</Property>
        <Property name="log_pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log_pattern}"/>
        </Console>
        <RollingFile name="file" fileName="${log_path}/test.log" filePattern="${log_path}/test-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${log_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${log_number}"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="console"/>
        </root>
        <!--<logger name="bt.lib.sign" level="info" additivity="false">-->
            <!--<appender-ref ref="console"/>-->
        <!--</logger>-->
        <!--<logger name="bt.lib.http" level="info" additivity="false">-->
            <!--<appender-ref ref="console"/>-->
        <!--</logger>-->
        <!--<logger name="DeviceRelatedInfoAPI" level="info" additivity="false">-->
            <!--<appender-ref ref="console"/>-->
        <!--</logger>-->
    </loggers>
</configuration>